/*
    Author: Saurav Rauniyar
    Theme: Sthaniya Khana - Admin
    Version: 1.0
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Satisfy', cursive;
    background-color: #F7F4F2;
    color: black;
}

.wrapper{
    padding: 1rem;
    width: 80vw;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width:40vw;
    height: 20vw;
    margin-left: 15rem;
}
.tbl-30 input{
    padding: 0.2rem 0 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

.tbl-30 button{
    margin-left: 5rem;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 0.4rem;
    text-align: left;
}

table tr td{
    padding: 0.4rem;
    text-align: left;
}

.btn-primary{
    background-color: #1e90ff ;
    color: black;
    padding: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.4rem;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f ;
    color: black;
    padding: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.4rem;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81 ;
    color: black;
    padding: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.4rem;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    background-color: gray ;
    color: rgb(61, 196, 61);
}

.error{
    background-color: gray ;
    color: rgb(221, 43, 43);
}
/*CSS for menu*/

.menu{
    background-color:black;
}
.menu > .wrapper,ul,li, a{
    background-color: black;
    color:  #F7F4F2;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    padding: 1rem;
}

.menu ul li a{
    text-decoration: none;
}


.menu ul li a:hover{
    font-size: 1.5rem;
    transition: all 500ms;
    font-size-adjust: 20px;
    font-weight: bold;
}

/* CSS for Main Content */

.main-content{
    padding: 1.5rem 0;
}

.main-content .wrapper{
    background-color: gray ;
}

.main-content .wrapper h1{
    background-color: gray ;
}


.col-4{
    width: 16vw;
    height: 25vh;
    background-color: white ;
    border:1px solid black;
    padding: 0.8rem;
    margin: 0.6rem;
    float: left;
}

.main-content .wrapper .col-4 h1{
    background-color: white;
}

/* CSS for Footer*/

.footer{
    background-color: black;
}

.footer >.wrapper,p {
    background-color: black;
    color: #F7F4F2;
}





/* CSS for Login*/

.loginScreen{
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.loginScreen .carousel{
    height: 60vh;
    width: 40vw;
    border: 1px solid red;
}

.carousel img{
    width: 40vw;
    height:60vh;
}

.login{
    border: 1px solid black;
    width: 20vw;
    margin: 5%;
    padding: 2%;
}

.login .logo{
    width: 20vw;
    height: 25vh;
}

.login form input{
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.loginfooter{
    background: white;
    color: black;
}


